div{
    width: 500px;
    height: 288px;
}
.imgangelo{    
    width: 212px;
    position: absolute;
    left: 4pc;
    top: 4pc;
}
.imgangelo2{    
    width: 218px;
    position: absolute;
    left: 18pc;
    top: 8pc;
}